.rules {
  width: 100%;
  margin-bottom: 100px;
  border-top: 4px solid #ffcd6c;
}

.rules__wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 50px;

  @include vp-1023 {
    padding: 30px;
  }

  @include vp-767 {
    padding: 15px;
  }
}

.rules__title {
  font-size: clamp(2.5rem, 2.27rem + 0.59vw, 2.81rem);
  margin: 0 0 45px;
  padding: 0 0 0 10px;
  text-align: center;

  @include vp-1023 {
    font-size: clamp(1.87rem, 1.65rem + 0.59vw, 2.18rem);
    margin: 0 0 25px;
    padding: 0 0 0 17px;
  }

  @include vp-767 {
    font-size: clamp(1.37rem, 1.15rem + 0.59vw, 1.68rem);
    margin: 0 0 15px;
    padding: 0 0 0 20px;
  }
}

.rules__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include vp-1279 {
    justify-content: center;
  }

  @include vp-1023 {
    gap: 15px;
  }

  @include vp-767 {
    gap: 10px;
  }
}

.rules__item {
  border: 3px solid #ffcd6c;
  box-sizing: border-box;
  padding: 20px;
}

.rules__title-card h4 {
  margin: 10px;
  text-align: center;
  font-size: clamp(1.43rem, 1.25rem + 0.47vw, 1.68rem);

  @include vp-1023 {
    font-size: clamp(1.25rem, 1.11rem + 0.35vw, 1.43rem);
  }

  @include vp-767 {
    font-size: clamp(1rem, 0.91rem + 0.23vw, 1.12rem);
  }
}

.rules__item p {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  font-size: clamp(1.25rem, 1.11rem + 0.35vw, 1.43rem);

  @include vp-1023 {
    font-size: clamp(1.12rem, 1.03rem + 0.23vw, 1.25rem);
  }

  @include vp-767 {
    font-size: clamp(0.8rem, 0.6rem + 0.2vw, 1rem);
    gap: 0;
  }
}
